html,
body {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.01em;
}

#app {
    height: 100%;
    width: 100%;
}

// Hide scrollbar
::-webkit-scrollbar {
    display: none;
}

//*
//* Basic fade animation
//*
.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
