//* --------------------
//*
//* Theme variables
//*
//* --------------------

//* --------------------
//* Colors
//* --------------------

// Standard background colors
$background-dark-1: #393c43;
$background-dark-2: #37393e;
$background-dark-3: #2f3136;
$background-dark-4: #282b2f;
$background-dark-5: #202225;

// Standard highlight colors
$highlight-purple: #6366f1;
$highlight-green: #05b384;
$highlight-orange: #f28f3b;
$highlight-red: #d11149;
$highlight-yellow: #f4e409;

// Standard text colors
$text-white: #ffffff;
$text-soft-white: #e0e0e0;
$text-grey: #72767d;

// Standard line colors
$line-grey: #4d4d50;

// Record red
$record-red: #ff3c31;
